In [104]:
#1 Expliquer ce qu’est un KPI (avec vos mots)? (1pt)

C'est l'ensemble des indicateurs d'une société (les données donc) qui vont ensuite être analysées.

In [1]:
#2 Importer les librairies pandas et numpy (0.5pt)
import pandas as pd
import numpy as np
print('libs loaded')

libs loaded

In [14]:
#3 Importer et le dataset ‘resto_eval.csv’ (0.5pt)
df = pd.read_csv('datas/eval_data.csv');
df

,Unnamed: 0,order_id,quantity,item_name,choice_description,item_price
0,0,1,1,Chips and Fresh Tomato Salsa,NaN,NaN
1,1,1,1,Izze,[Clementine],$3.39
2,2,1,1,Nantucket Nectar,[Apple],$3.39
3,3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,NaN
4,4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...,...
4617,4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [6]:
#4 Afficher les 12 premières lignes du dataset
df.head(12)

,Unnamed: 0,order_id,quantity,item_name,choice_description,item_price
0,0,1,1,Chips and Fresh Tomato Salsa,NaN,NaN
1,1,1,1,Izze,[Clementine],$3.39
2,2,1,1,Nantucket Nectar,[Apple],$3.39
3,3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,NaN
4,4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,6,3,1,Side of Chips,NaN,$1.69
7,7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25
10,10,5,1,Chips and Guacamole,NaN,$4.45
11,11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75

In [12]:
#5 Afficher les dimensions du dataset (sa taille)? (0.5pt)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          4622 non-null   int64
 1   order_id            4622 non-null   int64
 2   quantity            4622 non-null   int64
 3   item_name           4622 non-null   object
 4   choice_description  3376 non-null   object
 5   item_price          4522 non-null   object
dtypes: int64(3), object(3)
memory usage: 216.8+ KB

In [74]:
#6 Afficher, et décrire les colonnes de notre dataset
df.columns

Unnamed: 0             int64
order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [ ]:
On voit donc ici 6 colonnes :
    - la première correspond à la commande
    - order_id, qui correspond sans doute aux id des commandes passées. 
Ainsi une commande peut avoir plusieurs plats.
    - quantity qui correspond à la quantité de plats commandés dans la commande
    - item_name qui correspond au nom des plats commandés
    - choice_description qui correspond au détail et la composition des plats commandés
    -item_price qui correspond au prix du plat commandé
    
Les rows sont donc des plats.

In [76]:
df.dtypes

Unnamed: 0             int64
order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [57]:
#7 Afficher les statistiques descriptives du dataset (0.5pt)
df.describe()

        Unnamed: 0     order_id     quantity
count  4622.000000  4622.000000  4622.000000
mean   2310.500000   927.254868     1.075725
std    1334.400802   528.890796     0.410186
min       0.000000     1.000000     1.000000
25%    1155.250000   477.250000     1.000000
50%    2310.500000   926.000000     1.000000
75%    3465.750000  1393.000000     1.000000
max    4621.000000  1834.000000    15.000000

In [58]:
#8 Quel est l’item le plus commandé ?
df['quantity'].max()

15

In [60]:
#9 Combien d’items ont été commandés au total ? (1pt)
df['quantity'].sum()

4972

In [101]:
#10)Combien de chiffre d’affaire à realisé la société ? (2pt)
df['item_price'] = df['item_price'].fillna(0.0).replace('\$|,', '', regex=True)
df['item_price'] = pd.to_numeric(df['item_price'])
(df['quantity'] * df['item_price']).sum()

38998.020000000004

In [ ]:
#11)Quel est le revenu moyen par commande ? (2pt)

In [103]:
cmdMean = (df['quantity'] * df['item_price']).mean()
cmdMean

8.437477282561662